<h1 style="margin:20px 0px 0px 40px">Eventos</h1>

<mat-card style="margin: 20px 40px 40px 40px">

    <mat-card-title>
      <button mat-raised-button color="primary" routerLink="/admin/evento-registro" ><mat-icon mat-list-icon>add</mat-icon> Nuevo Evento</button>
    </mat-card-title>
    <mat-divider inset></mat-divider>
  
    <mat-card-content class="dashboard-card-content">
  
      <div class="mat-elevation-z2">
        <div class="section-card">
          <mat-card class="card" *ngFor="let num of [1,2,3,4,5,6,7]">
            <mat-card-header>
              <mat-card-title> Nombre evento </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../../../assets/evento.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Descripcion del evento</p>
              <p>Fecha del evento</p>
            </mat-card-content>
            <mat-card-actions>
              <button 
                mat-raised-button color="primary"
                routerLink="/admin/visualizarevento"
                >VISUALIZAR</button>
            </mat-card-actions>
          </mat-card>
        </div>  
      </div>
  
    </mat-card-content>
  
  </mat-card>